/*Anthony Drane - UX & Product Design Portfolio CSS*/
/*Colors
    Green = #7DCE94
    Black = #3D3D3F
    Dark-Grey = #707070
    Light-Grey = #F9F8FD
    White = #FFFFFF
*/

/* Fonts */
@font-face {
  font-family: 'gt_sectrabold';
  src: url('../fonts/gt-sectra-bold-webfont.woff2') format('woff2'),
       url('../fonts/gt-sectra-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gt_sectramedium';
  src: url('../fonts/gt-sectra-medium-webfont.woff2') format('woff2'),
       url('../fonts/gt-sectra-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'quicksand';
  src: url('../fonts/quicksand-regular-webfont.woff2') format('woff2'),
       url('../fonts/quicksand-regular-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'quicksand';
  src: url('../fonts/quicksand-bold-webfont.woff2') format('woff2'),
       url('../fonts/quicksand-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'quicksand';
  src: url('../fonts/quicksand-italic-webfont.woff2') format('woff2'),
       url('../fonts/quicksand-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'quicksand';
  src: url('../fonts/quicksand-light-webfont.woff2') format('woff2'),
       url('../fonts/quicksand-light-webfont.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'quicksand';
  src: url('../fonts/quicksand-medium-webfont.woff2') format('woff2'),
       url('../fonts/quicksand-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*Core Elements */
body {background-color: #f3f3f3;}
html,body{width: 100%; height: 100%; margin: 0px; padding: 0px; overflow-x: hidden;}

p {font-size: 1em;}
*, body, p {font-family: 'quicksand', sans-serif; color: #060068;}
h2, h3, h4 {font-family: 'quicksand', sans-serif; font-weight: bold;}
h1 {font-family: 'gt_sectramedium', serif; font-size: 2em; font-weight: 900; color: #060068;} /*hero*/
h2 {font-size: 1.25em; font-weight: 700;color: #060068;}

/* Container */
.container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}
@media (min-width:576px){.container{max-width:540px}}
@media (min-width:768px){.container{max-width:720px}}
@media (min-width:992px){.container{max-width:960px}}
@media (min-width:1200px){.container{max-width: 1140px !important;}}
@media (min-width:1400px){.container{max-width: 1240px !important;}}
@media (min-width:1600px){.container{max-width: 1440px !important;}}

/*Navigation*/
.myName {font-family: 'gt_sectramedium', serif; font-size: 1.7em;color: #060068; padding-top: 0.9em;}
.global-menu__wrap a {font-family: 'gt_sectramedium', serif; text-decoration: none; color: #fff;}
.global-menu__wrap a:hover {color: #060068;}
.global-menu__wrap {padding: 20px;}
.global-menu__item {font-size: 2.5em !important;}
ul .global-menu__item {font-size: 1.5em !important;}

/*Spacing*/
section#caseSudies, section#blog, section#contact {margin-top: 10em;}
section#footer {margin: 2em 0;}

/*Buttons*/
.btn {
	background-color: #D94244;
	color: #fff;
	border: 2px solid transparent;
  padding: 0.8em 2em;
  font-weight: bold;
}

.btn:hover {
  border: 2px solid #D94244;
  color: #D94244;
  background-color: transparent;
}

.btn.btn-rev {background-color: #fff;
color: #D94244;}

.btn.btn-rev:hover {
  border: 2px solid #fff;
  color: #fff;
  background-color: #D94244;
}

button.slick-prev, button.slick-next {visibility: hidden;}
.btn-slick .btn:first-of-type:hover img {content: url("../img/arrow-l-rev.svg");}
.btn-slick .btn:nth-child(2):hover img {content: url("../img/arrow-r-rev.svg");}

/*Extended Divs*/
.extend-right-red:before {
  right: -999em;
  background: #D94244;
  content: '';
  display: block;
  position: absolute;
  width: 999em;
  top: 0;
  bottom: 0;
}

.extend-right-white:before {
  right: -999em;
  background: #fff;
  content: '';
  display: block;
  position: absolute;
  width: 999em;
  top: 0;
  bottom: 0;
}

.extend-left-red:before {
  left: -999em;
  background: #D94244;
  content: '';
  display: block;
  position: absolute;
  width: 999em;
  top: 0;
  bottom: 0;
}

.extend-left-white:before {
  left: -999em;
  background: #fff;
  content: '';
  display: block;
  position: absolute;
  width: 999em;
  top: 0;
  bottom: 0;
}

/*************************/
/**      #homePage      **/
/*************************/
#homePage {margin: 0; position: relative;}


/* #homePage - Hero */
#hero {  margin-top: 3em; margin-bottom: 13em;}

.heroText {text-align: center; margin-top: -30%;}
.heroText span {font-family: 'gt_sectramedium', serif; font-size: 1.5em; background-color:#fff; color: #060068; background: #fff; display: inline-block; padding: 0.15em; margin: 5px 0;}

svg,
svg circle {fill: #D94244;}

@keyframes from0to360 {
  from{transform:rotate(0);}
  to{transform:rotate(360deg);}
}

#Circle1 {
  animation: from0to360 1s linear infinite;
  cx: 150;
  cy: 145;
  r: 130;
  transform-origin: 145px 150px;
}

@keyframes from360to0 {
  from{transform:rotate(360deg);}
  to{transform:rotate(0deg);}
}

#Circle2 {
  animation: from360to0 2s linear infinite;
  cx: 150;
  cy: 155;
  r: 130;
  transform-origin: 155px 150px;
}

#Circle3 {
  animation: from0to360 3s linear infinite;
  cx: 145;
  cy: 150;
  r: 130;
  transform-origin: 150px 145px;
}

#Circle4 {
  animation: from360to0 2.5s linear infinite;
  cx: 155;
  cy: 150;
  r: 130;
  transform-origin: 150px 155px;
}

#homePage .sectHead {background: #fff; font-family: 'gt_sectramedium', serif;font-size:1.5em; text-align: center; padding: 0.5em;}

/* About */
.bio {
  background-color: #fff;
}

#about .tiles .tile {
  background: #fff;
  height: 10em;
  margin: -1em 1em 0 1em;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.12), 0 2px 4px 0 rgba(0,0,0,.08);
}

.bio .bio-text {
  vertical-align: middle;
  padding: 2em;
}

.bio .bioImg img {
	position: absolute;
	bottom: 0;
	width: 90%;
	vertical-align: bottom;
}

.bio-points {
	background-color: #D94244;
}

.bio-point {
  padding: 1.5em;
}

.bio-point span {
  font-weight:bold;
  font-size: 2em;
}

.bio-point p, .bio-point span {color: #fff;}

/*.container.uxSkills {
  padding-right: 0px;
  max-width: none !important;
}*/

.slick-track
{
    display: flex !important;
}

.slick-slide
{
    height: inherit !important;
}

.skills .skill:first-of-type {margin-left: 0em;}
.skill {
  padding: 1em;
  margin: 0.5em 0.5em 0.5em 0.5em;
  background-color: #fff;
  height: 100%;
}

.skill img {height: 50px; width: auto;}

ul.slick-dots {display: none !important;}
.slick-dotted.slick-slider {margin-bottom: 0.5em !important;}
.btn-slick .skillsPrev {margin-left: 0em;}

/* Case Studies */
#caseStudies .col-md-6 {
  width: 100%;
  height: 60vh;
  padding: 2em;
}

#caseStudies .col-md-6 {
	display: table;
}

.csText {padding: 2em; padding-top: 4em;}
.csText.extend-left-red {background-color: #D94244;}
.csText.extend-left-white {background-color: #fff;}

.csText .btn {vertical-align: middle; margin-top: 2em;}

.csText div {
  display: table-cell;
  vertical-align:middle;
  padding: 2.5vh;
}
@media (min-width:992px) {.csText div {padding-top: 2em}}
.becomeEdu h2, .ozHarvest h2 {color: #fff;}

.csImg {background-color: #fff;padding: 1vh;position: relative;}
.becomeEdu .csImg, .ozHarvest .csImg {background-color: #D94244;}

.caseStudy .csImg {
  vertical-align: middle;
  text-align: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.csImg img {
  max-height: 100%;
  max-width: 100%;
  text-align: center;
  padding: 1em;
}
.becomeEdu .csImg img {max-height: 90%;max-width: 90%;}
.proAuto .csImg img {max-height: 90%;max-width: 100%;}
.cityWater .csImg img {max-height: 99%;max-width: 100%;}
.becomeEdu .csImg img {max-height: 90%;max-width: 90%;}

@media (max-width:767px){.caseStudy .csText, .caseStudy .csText div {padding-top: 0}}

/*testimonials*/
#testimonials .reference .container {padding-right: 0px;}

.quote {
  padding: 2.5em;
  background-image: url(../img/quote-bg.svg);
  background-size: 35%;
  background-position: 50% 20%;
  background-repeat: no-repeat;
}
.quote, .reference {background-color: #fff; margin: 1em;  height: 100%;}

.quote blockquote {font-weight: lighter; text-align: center; font-style: italic;}
.quote .quoter {text-align: center; padding-top: 10px;}
.quote img {width: 100px; margin-right: 5px;}
.quote img, .quote span {display: inline-block !important; vertical-align: middle;}
.btn-slick .quotePrev {margin-left: 1em;}

.refText {background: #fff; padding: 1em; font-size: 1.75em; font-weight: bold;}
.reference .col-sm-6, .reference .col-sm-6 .row {height: 100%;}
.reference .col-md-12 {height: 50%;}

.reference .image {
  background-size: cover;
  background-position: right 0;
}
.ixda .image {
  background-image: url("../img/IxDA-group.png");
}
.gAssembly .image {
  background-image: url("../img/UXdi18.jpg");
}

.reference .logo {
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 50% 40%;
}
.ixda .logo {
  background-image: url("../img/IxDA@2x.png");
  background-size: 30%;
}
.gAssembly .logo {
  background-image: url("../img/General_Assembly_logo.svg");
}

.reference .row, .reference .col-md-12, .reference table {
  height: 100%;
}
.reference table {width: 100%;}

.reference table tr:first-of-type td {height: 65%; width: 50%;}
.reference table tr:nth-child(2) {height: 100%;}

/*blog*/

#blog .row > div {background-color: #fff;}

#blog a {
	width: 80%;
}

#blog img {
  width: 100%;
  display: block;
  margin: auto;
}
#blog h3 {background-color: #D94244; padding: 1em 2em 1em 2em; margin-top: 0; color: #fff;}
#blog a {color: #fff; text-decoration: none;}
#blog a:hover, #blog a:hover h3 {color: #060068; text-decoration: underline;}

#blog .col-md-5 {background-color: #D94244; color: #fff; padding-top: 2em;}

#blog .btn {
  float: right;
  margin-top: 15px;
  margin-bottom: 2em;
}

/*Contact & Footer*/
#contact, #footer {text-align: center;}

#contact .row {padding: 2em; background-color: #fff;}
.contactIcons a {text-decoration: none; margin-right: 10px}
.contactIcons {margin: 20px;}
.contactIcons a:hover path {fill: #060068}



/*************************/
/**    #caseStudies     **/
/*************************/

/*General Case Study*/
.caseStudy .heroText {margin-top: 0;}
.caseStudy #hero {margin-bottom: 8em;}

.caseStudy #hero .row:first-of-type {
  padding: 7em 0;
  background-size: 30% auto !important;
  background-position: 25% 50% !important;
  animation: bounce 3s ease infinite;
 }
  .caseStudy #hero .row:nth-child(2){margin-top:-10em;}
 @keyframes bounce{
  50% {
      transform: translateY(10px);
  }
  100% {
      transform: translateY(0px);
  }
}

@media (max-width:767px){.csRow > .col-md-3 p {display:none;}}
 
.caseStudy #context {margin: 5em 0;}
.csRow > div {background: #fff; padding: 0 2em;}
.csContent {margin-bottom: 10em;}
.csRow img {width: 100%; padding: 0.25em;}

.caseStudy #context div {text-align: center;}
 @media (min-width:844px){
  .csContent .row:not(:first-of-type) > div {padding: 2em 1em;}
}
 
.csContent .container .row.csRow:nth-child(2) div.col-md-3:nth-child(2),
.csContent .container .row.csRow:nth-child(2) div.col-md-7:nth-child(2),
.csContent .container .row.csRow:nth-child(2) div.col-md-10:nth-child(2),
.csContent .container .row.csRow:nth-child(2) div.col-md-5:nth-child(2) {padding-top: 60px;}

@media (min-width:768px){
  .csContent .container .row.csRow:nth-child(2) .col-md-3,
  .csContent .container .row.csRow:nth-child(2) .col-md-7,
  .csContent .container .row.csRow:nth-child(2) .col-md-10,
  .csContent .container .row.csRow:nth-child(2) .col-md-5 {padding-top: 75px;}
}

.csContent .row:not(.csRow) .sectHead  { font-family: 'gt_sectramedium', serif; font-size: 3em !important; color: #D94244 !important; margin-bottom: -26px !important; z-index: 100 !important; background: none;}


 /*************************/
/**    #BecomeEdu        **/
/**************************/
#csBecome.caseStudy #hero .row:first-of-type {background: url("../img/become-logo.svg") no-repeat; background-size: auto 100% !important;}

 /*************************/
/**    #Pro  Auto        **/
/**************************/
#csProauto.caseStudy #hero .row:first-of-type {background: url("../img/proauto/vehicle.svg") no-repeat; background-size: auto 100% !important;}


 /*************************/
/**    #cityWaterTech    **/
/**************************/
#csCwt.caseStudy #hero .row:first-of-type {background: url("../img/cs-cityWater.png") no-repeat; background-size: 350px auto !important;}

table.cwtInsights tr th {text-align:left; padding-left: 1em; background-color: #D94244;}
table.cwtInsights tr th p { color: #ffffff;}
table.cwtInsights tr {border-top: 1px solid #060068;}
table.cwtInsights tr td {padding: 1em; vertical-align: top;}
table.cwtInsights tr td:first-of-type {width: 65%;}

 /*************************/
/**    #OzHarvest        **/
/**************************/
#csOzharvest.caseStudy #hero .row:first-of-type {background: url("../img/ozharvest/van.png") no-repeat; background-size: 30% auto !important;}

table.ozharvestInsights tr th {text-align:left; padding-left: 1em; background-color: #D94244;}
table.ozharvestInsights tr th p { color: #ffffff;}
table.ozharvestInsights tr {border-top: 1px solid #060068;}
table.ozharvestInsights tr td {padding: 1em; vertical-align: top;}
table.ozharvestInsights tr td:first-of-type {width: 55%;}

.bjFogg h1 {font-size: 1.75em;}

 /*************************/ 
/**** MEDIA QUERIES ****/
/*************************/
@media screen and (max-width: 55em){
  .hamburger {top: 2em !important; right: 1em !important;}
  .global-menu__item {font-size: 1.5em !important}
  ul .global-menu__item {font-size: 1.25em !important;}
  }

@media (max-width:992px){
 .bio .bioImg img {position: relative;}
}

@media (max-width:1401px){body#homePage .heroText {margin-top: -35%;}}
@media (max-width:1201px){body#homePage .heroText {margin-top: -49%;}}
@media (max-width:993px){body#homePage .heroText {margin-top: -59%;}}
@media (max-width:769px){body#homePage .heroText {margin-top: -45%;}}
@media (max-width:769px){body#homePage .heroText {margin-top: -45%;}}
@media (max-width:577px){body#homePage .heroText {margin-top: -45%;}}
@media (max-width:492px){body#homePage .heroText {margin-top: -60%;}}
@media (max-width:442px){body#homePage .heroText {margin-top: -66%;}}
@media (max-width:400px){body#homePage .heroText {margin-top: -76%;}}

@media (max-width:844px){
.extend-right-red:before {visibility:hidden;}
.extend-right-white:before {visibility:hidden;}
.extend-left-red:before {visibility:hidden;}
.extend-left-white:before {visibility:hidden;}

#hero h1 {font-size: 1.5em;}

.mt2em {margin-top: 2em;}
.csText {padding-top: 2em;}
.csImg img {padding: 0.25em;}

blockquote {margin: 10px 0 20px 0;}
.refText {padding: 0.5em; font-size: 25px}
.quote, .reference {margin: 0em;}
.reference .logo {background-size: 80%;background-position: 50% 50%;}
}
