
.bio {
  background-image: url("../images/icons/topyellow-oh.svg");
  background-repeat: repeat;
  background-position: top;
  background-size: 400px;
  max-width: 4000px;
}

.footer {
  background-image: url("../images/icons/topyellow-oh.svg");
  background-repeat: repeat;
  background-position: top;
  background-size: 400px;
  max-width: 4000px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar {
    background-color: #FFFFFF;
    background-size: cover;
    box-shadow: 0px 4px;
}

.phone {
    width: 100%;
}

.past-skills {
  text-align: center;
  font-size: 12px;
  border-style: solid;
  border-width: 0.1px;
  border-color: rgb(0, 0, 0);
  padding: 4px;
  align-items: center;
  display: flex;
  vertical-align: middle;
  padding-top: 25px;
}

.playfair {
  font-family: 'Playfair Display', serif;
}

.photo {
    background-image: url("../images/me.jpg");
    background-size: cover;
    background-position: top;
    max-width: 4000px;
}

.comingsoon-become {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("../images/become-stock.jpg");
  background-size: cover;
  background-position: center;
  max-width: 2000px;
  height: 100%;
  border: rgb(0, 0, 0) 1px;
  border-radius: 5px;
}

.comingsoon-proauto {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("../images/proauto-stock.jpg");
  background-size: cover;
  background-position: center;
  max-width: 2000px;
  height: 100%;
  border: rgb(0, 0, 0) 1px;
  border-radius: 5px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px dashed #ccc;
  margin: 1em 0;
  padding: 0;
}

.photo-bg {
  background-image: url("../images/icons/topblue.svg");
  background-repeat: repeat;
  background-position: top;
  max-width: 4000px;
}

.triangle_down {
	width: 0;
	height: 0;
	border-left: 70px solid transparent;
	border-right: 70px solid transparent;
  border-top: 120px solid #A9CF54;
  fill: rgba(117, 190, 218, 0.0);
  text-align: left;
}

.comingsoon {
  color: white;
}

.comingsoon:hover {
  background-color: #F7E867;
  border-color: #F7E867; 
  color: black
}

button:hover {
  background-color: #F7E867;
  border-color: #F7E867; 
}

article {
    border-bottom: 1px solid #d8d8d8;
    padding: 10px 20px 0 20px;
    margin: 10px 0;
}
 
/*.fixed {
    position: fixed;
    top: 0;
}*/
body {margin:0;}

.ic {
  text-decoration: none;
}

.topnav {
  overflow: hidden;
  background-color: white;
  color: black;
  text-align: right;
  position: relative;
  top: 100;
  width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navright {
    margin-top: 20px;
}

.topnav a:hover {
  background-image: url("../images/icons/topyellow-oh.svg");
  background-repeat: repeat;
  background-position: top;
  background-size: 400px;
  max-width: 4000px;
  color: black;
}

.active {
  background-color:white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}

/* BlockQuote */

figure.snip1167 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  float: center;
  align-content: center;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 200px;
  /*max-width: 310px;*/
  width: 100%;
  color: #333;
  text-align: center;
  box-shadow: none !important;
}
figure.snip1167 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip1167 img {
  max-width: 100%;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  z-index: 1;
  position: relative;
}
figure.snip1167 blockquote {
  margin: 0;
  display: block;
  border-radius: 8px;
  position: relative;
  font-style: italic;
  background-color: #ececec;
  padding: 65px 50px 30px 50px;
  font-size: 1em;
  font-weight: 500;
  margin: -50px 0 0;
  line-height: 1.6em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
figure.snip1167 blockquote:before,
figure.snip1167 blockquote:after {
  /*font-family: 'FontAwesome';*/
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}
figure.snip1167 blockquote:before {
  top: 70px;
  left: 20px;
}
figure.snip1167 blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 0;
}
figure.snip1167 .author {
  padding: 15px;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}
figure.snip1167 .author h5 {
  opacity: 0.8;
  margin: 0;
  font-weight: 700;
  font-size: 1.0em;
}
figure.snip1167 .author h5 span {
  font-weight: 400;
  text-transform: none;
  display: block;
  font-size: 1.0em;
  font-family: 'Playfair Display', serif;
}
